<h1>Where have I been?</h1>

<form action="/" method="POST">
	<input type="hidden" name="latitude" value=""/>
	<input type="hidden" name="longitude" value=""/>
	<button type="submit" class="btn btn-primary btn-lg">Check in</button>
</form>