<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

    {{{body}}}

    <script type="text/javascript" src="/javascripts/client.js"></script>
    <script type="text/javascript" src="/javascripts/index_post.js"></script>
</body>
</html>
