<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            </div>     

            <div style="padding-top:30px" class="panel-body" ng-controller="createUserController as user" >
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12">
                </div>

                <form id="signupform" class="form-horizontal" role="form" ng-submit="user.signUpUser()" >
                                
					<div id="signupalert" style="display:none" class="alert alert-danger">
					    <p>Error:</p>
					    <span></span>
					</div>

					<div class="form-group">
					    <label for="username" class="col-md-3 control-label">Username</label>
					    <div class="col-md-9">
							<input type="text" class="form-control" name="username" placeholder="Username" ng-model="user.userData.username" >
						</div>
					</div>
<!-- 
					<div class="form-group">
					    <label for="email" class="col-md-3 control-label">Email</label>
					    <div class="col-md-9">
					        <input type="text" class="form-control" name="email" placeholder="Email Address">
					    </div>
					</div> -->
					    
					<!-- <div class="form-group">
					    <label for="firstname" class="col-md-3 control-label">First Name</label>
					    <div class="col-md-9">
					        <input type="text" class="form-control" name="firstname" placeholder="First Name" ng-model="user.userData.name" >
					    </div>
					</div> -->

<!-- 					<div class="form-group">
					    <label for="lastname" class="col-md-3 control-label">Last Name</label>
					    <div class="col-md-9">
					        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
					    </div>
					</div> -->
					
					<div class="form-group">
					    <label for="password" class="col-md-3 control-label">Password</label>
					    <div class="col-md-9">
					        <input type="password" class="form-control" name="passwd" placeholder="Password" ng-model="user.userData.password" >
					    </div>
					</div>

					<div class="form-group">
					    <div class="col-md-offset-3 col-md-9">
					        <button id="btn-signup" type="submit" class="btn btn-success"><i class="icon-hand-right"></i>Sign Up</button>
					        <span style="margin-left:8px; margin-right: 8px;">or</span>
					        <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>Sign Up with Facebook</button>
					    </div>
					</div>

					<div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
					    <div class="col-md-offset-3 col-md-9">
					        Already have an account!
                            <a href="/login" onClick="">Sign in Here</a>
					    </div>
					</div>

				</form>

            </div>

        </div>
    </div>
</div>
